In [9]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.columns)
print(df["Calories"].max())
l=[]
for i in df.columns:
    l.append(df[i].mean())
print(l)
#adding row in df
df.loc[5]=l

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')
1860.4
[63.84615384615385, 107.46153846153847, 134.0473372781065, 375.79024390243916]

In [117]:
import pandas as pd
import numpy as np
dataset={"Name":["praveen","rahaman","balaji","dileep","nithin"],
        "Rollno":[60,42,16,10,15],
        "year":[2,2,np.NaN,3,np.NaN],
        "marks":[95,98,96,94,np.NaN]}
dataset2={"CS":[98,97,96,95,94,96],
         "CO&A":[92,93,94,95,96,97],
         "DBMS":[98,100,100,100,100,100]}
df=pd.DataFrame(dataset)
import pandas as pd
import numpy as np
dataset={"Name":["praveen","rahaman","balaji","dileep","nithin"],
        "Rollno":[60,42,16,10,15],
        "year":[2,2,np.NaN,3,np.NaN],
        "marks":[95,98,96,94,np.NaN]}
dataset2={"Name":["praveen","rahaman","balaji","dileep","nithin","yuvi"],
          "CS":[98,97,96,95,94,96],
         "CO&A":[92,93,94,95,96,97],
         "DBMS":[98,100,100,100,100,100]}
df=pd.DataFrame(dataset)
df2=pd.DataFrame(dataset2)
print(df)
print(df2)
#replacing value in dataset
df.loc[3,"marks"]=92
#adding row
df.loc[len(df)]=["yuvi",36,3,96]
#adding column
df["Grade"]=[10,10,10,10,10,10]
#adding column at specific
df.insert(1,"branch",["csbs","csbs","csbs","csbs","cse","it"])
#filling data in null value place
df.fillna(6,inplace=True)
#adding prefix to column names
pk=df.add_prefix("FULL_")
pk
#merging
print("merging\n")
print(df.merge(df2))
#concating
print("concat\n")
df3=pd.concat([df,df2],axis=1,ignore_index=False)
print(df3)
df4=df3
#removing duplicates in column
print("remove duplicates in cloumn\n")
df4=df4.T.drop_duplicates().T
print(df4)
#removing duplicates in rows
print("row duplicates remove")
df4.loc[len(df4)]=["rahaman","csbs",42,2,98,10,97,93,100]
df4=df4.drop_duplicates()
print(df4)

      Name  Rollno  year  marks
0  praveen      60   2.0   95.0
1  rahaman      42   2.0   98.0
2   balaji      16   NaN   96.0
3   dileep      10   3.0   94.0
4   nithin      15   NaN    NaN
      Name  CS  CO&A  DBMS
0  praveen  98    92    98
1  rahaman  97    93   100
2   balaji  96    94   100
3   dileep  95    95   100
4   nithin  94    96   100
5     yuvi  96    97   100
merging

      Name branch  Rollno  year  marks  Grade  CS  CO&A  DBMS
0  praveen   csbs      60   2.0   95.0     10  98    92    98
1  rahaman   csbs      42   2.0   98.0     10  97    93   100
2   balaji   csbs      16   6.0   96.0     10  96    94   100
3   dileep   csbs      10   3.0   92.0     10  95    95   100
4   nithin    cse      15   6.0    6.0     10  94    96   100
5     yuvi     it      36   3.0   96.0     10  96    97   100
concat

      Name branch  Rollno  year  marks  Grade     Name  CS  CO&A  DBMS
0  praveen   csbs      60   2.0   95.0     10  praveen  98    92    98
1  rahaman   csbs      42   2.0   98.0     10  rahaman  97    93   100
2   balaji   csbs      16   6.0   96.0     10   balaji  96    94   100
3   dileep   csbs      10   3.0   92.0     10   dileep  95    95   100
4   nithin    cse      15   6.0    6.0     10   nithin  94    96   100
5     yuvi     it      36   3.0   96.0     10     yuvi  96    97   100
remove duplicates in cloumn

      Name branch Rollno year marks Grade  CS CO&A DBMS
0  praveen   csbs     60    2    95    10  98   92   98
1  rahaman   csbs     42    2    98    10  97   93  100
2   balaji   csbs     16    6    96    10  96   94  100
3   dileep   csbs     10    3    92    10  95   95  100
4   nithin    cse     15    6     6    10  94   96  100
5     yuvi     it     36    3    96    10  96   97  100
row duplicates remove
      Name branch Rollno year marks Grade  CS CO&A DBMS
0  praveen   csbs     60    2    95    10  98   92   98
1  rahaman   csbs     42    2    98    10  97   93  100
2   balaji   csbs     16    6    96    10  96   94  100
3   dileep   csbs     10    3    92    10  95   95  100
4   nithin    cse     15    6     6    10  94   96  100
5     yuvi     it     36    3    96    10  96   97  100

In [129]:
import pandas as pd
df=pd.read_csv("data.CSV")